.main {
  padding: 5px;
}

.body {
  display: flex;
  justify-content: space-between;
  background-color: rgb(33, 33, 33);
  color: white;

  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgb(38, 38, 38);
  color: white;
}

.headerButtons {
  display: flex;
  align-items: center;
  gap: 50px;
}

.logoutLogo {
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.logoutBox {
  padding: 10px;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoutBox:hover {
  background-color: rgb(59, 59, 59);
}

.lang {
  display: flex;
  align-items: flex-end;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 20px;
  background-color: rgb(38, 38, 38);
  color: white;

  position: absolute;
  bottom: 0px;
  width: 100%;
}

.footerLink {
  text-decoration: none;
  color: #3498db;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

.footerLink:hover {
  color: #2980b9;
  text-decoration: underline;
}

.mainSection {
  display: flex;
  flex-direction: row;
}

.aside {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  border-right: 1px solid rgb(48, 48, 48);
  padding: 5px;
  height: 100vh;
}

.asideButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
  border-radius: 10px;
  max-width: 75px;
}

.asideButton:hover {
  background-color: rgb(59, 59, 59);
}

.asideSVG {
  width: 25px;
  height: 25px;
  color: white;
}

.asideButtonsText {
  font-size: 12px;
}

.requestName {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}

.requestNameSVG {
  width: 32px;
  height: 32px;
  fill: rgb(92, 166, 179);
}

.requestNameText {
  font-size: 16px;
  font-weight: 700;
}

.requestEditor {
  display: flex;
  flex-direction: row;
}

.request {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px;
}

.createRequest {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  width: calc(100vw - 115px);
}

.createRequestField {
  display: flex;
  flex-direction: row;
  flex: 1;
  border: 2px solid #ccc;
  border-radius: 8px;
  align-items: center;
}

.selectMethod {
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10'%3E%3Cpath fill='%23fff' d='M0 0l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 12px;
  padding: 15px 35px 15px 15px;
  font-size: 14px;
  color: white;
  font-weight: 700;
  transition: border-color 0.2s, box-shadow 0.3s;
  width: 120px;
  border: none;
}

.createRequestLine {
  width: 2px;
  height: 30px;
  background-color: rgb(59, 59, 59);
}

.requestInput {
  border: none;
  border-radius: 8px;
  padding: 15px;
  font-size: 16px;
  flex-grow: 1;
  transition: border-color 0.2s, box-shadow 0.3s;
}

.requestInput:focus,
.selectMethod:focus {
  outline: none;
}

.createRequestButton {
  background-color: rgb(42, 99, 203);
  color: white;
  border: none;
  padding: 15px 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  width: 120px;
}

.createRequestButton:hover {
  background-color: rgb(40, 84, 165);
}
