.main {
  padding: 5px;
}

.body {
  display: flex;
  justify-content: space-between;
  background-color: rgb(33, 33, 33);
  color: white;

  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgb(38, 38, 38);
  color: white;
}

.headerButtons {
  display: flex;
  align-items: center;
  gap: 50px;
}

.langLogo {
  cursor: pointer;
  width: 24px;
  height: 24px;

  position: absolute;
  left: 0px;
}

.logoutLogo {
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.headerSvg {
  transition: transform 0.1s ease-in-out;
}

.headerSvg:hover {
  transform: scale(1.2);
}

.langBox {
  width: 51px;
  height: 24px;
  position: relative;
}

.lang {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 20px;
  background-color: rgb(38, 38, 38);
  color: white;

  position: absolute;
  bottom: 0px;
  width: 100%;
}

.footerLink {
  text-decoration: none;
  color: #3498db;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

.footerLink:hover {
  color: #2980b9;
  text-decoration: underline;
}

.mainSection {
  display: flex;
  flex-direction: row;
}

.aside {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  border-right: 1px solid rgb(48, 48, 48);
  padding: 5px;
  height: 100vh;
}

.asideButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
  border-radius: 10px;
  max-width: 75px;
}

.asideButton:hover {
  background-color: rgb(59, 59, 59);
}

.asideSVG {
  width: 25px;
  height: 25px;
  color: white;
}

.asideButtonsText {
  font-size: 12px;
}
